<p id="notice"><%= notice %></p>

<h2><%= @beer_club.to_s %></h2>

<p>Founded <%= @beer_club.founded %></p>

<p><strong>Members</strong></p>

<p>
<% if @beer_club.members.empty? %>
    This beer club doesn't have any members yet!
  <% else %>
    <ul>
      <% @beer_club.members.each do |member| %>
        <li><%= link_to member.username, member %></li>
      <% end %>
    </ul>
  <% end %>
</p>

<% if (!@beer_club.members.include? current_user and current_user) %>

<%= form_for(@membership) do |f| %>
    <%= f.hidden_field :beer_club_id %>
    <%= f.submit value:"Join the club", class:'btn btn-primary' %>
<% end %>

<% end %>

<% if (@beer_club.members.include? current_user and current_user) %>

    <%= form_for(@membership, method: "delete") do |f| %>
        <%= f.hidden_field :beer_club_id %>
        <%= f.submit value:"End the membership", class:'btn btn-primary' %>
    <% end %>

<% end %>

<br />

<%= edit_and_destroy_buttons(@beer_club) %>
