<p id="notice"><%= notice %></p>

<h2><%= @user.username %>
  <% if not @user.access %>
      <span class="label label-info">account frozen</span>
  <% end %>
</h2>

<p>
  Has made <%= @user.ratings.count %> ratings
</p>

<% if !@user.access and current_user and current_user.admin %>
    <%= link_to 'Reactivate account', toggle_account_access_user_path(@user.id), method: :post, class: 'btn btn-primary' %>
<% elsif @user.access and current_user and current_user.admin %>
    <%= link_to 'Froze account', toggle_account_access_user_path(@user.id), method: :post, class: 'btn btn-primary' %>
<% end %>

<h3>Ratings</h3>

<ul>
  <% @user.ratings.each do |rating| %>
      <li>
        <%= rating %>
        <% if @user == current_user %>
            <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </li>
  <% end %>
</ul>

<p>
  Average of ratings: <%= round(@user.average_rating) %>
</p>

<p>
  <% if @user.ratings.empty? %>
      Doesn't have a favorite beer yet!
  <% else %>
      Favorite beer is <%= @user.favorite_beer %>
  <% end %>
</p>

<p>
  <% if @user.ratings.empty? %>
    Doesn't have a favorite style yet!
  <% else %>
    Favorite style is <%= @user.favorite_style %>
  <% end %>
</p>

<p>
  <% if @user.ratings.empty? %>
    Doesn't have a favorite brewery yet!
  <% else %>
    Favorite brewery is <%= @user.favorite_brewery %>
  <% end %>
</p>

<p>
  <% if @user.memberships.empty? %>
  Not a member of any beer club
  <% else %>
  Member of <% @user.memberships.each do |membership| %>
          <%= link_to membership.beer_club.name, membership.beer_club %>
      <% end %>
  <% end %>
</p>

<% if @user == current_user %>
    <td><%= link_to 'Edit', edit_user_path(@user), class:'btn btn-success' %></td>
    <td><%= link_to 'Destroy', @user, class:'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>