<p id="notice"><%= notice %></p>

<h2><%= @style.name %></h2>

<p>
  <%= @style.description %>
</p>

<p>
<% if @style.beers.empty? %>
  There are no beers that belong to this style!
  <% else %>
  <strong>Beers</strong>
      <ul>
        <% @style.beers.each do |beer| %>
        <li><%= link_to beer.name, beer %></li>
        <% end %>
      </ul>
  <% end %>
</p>

<%= edit_and_destroy_buttons(@style) %>
